// Body
$body-bg: #f8fafc;

$primary: rgb(6, 137, 156);
$warning: #16ce54;
$danger: #f15c51;

$light: #ffffff;
//$body-bg: #2278ce;
// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;
$text-success: #4cda1d;