/*switch*/
.switch{
    background: #343D5B;
    border-radius: 1000px;
    border:none;
    position: relative;
    cursor: pointer;
    display: flex;
    outline: none;
}
.switch>span{
    width: 20px;
    height: 30px;
    line-height: 30px;
    display: block;
    background: none;
    color: #fff;
}
.switch::after{
    content: "";
    display: block;
    width: 30px;
    height: 30px;
    position: absolute;
    background: #f1f1f1;
    top: 0;
    left: 0;
    right: unset;
    border-radius: 100px;
    transition: .3s ease all;
    box-shadow: 0 0 2px 2px rgba(0,0,0,.2);
}
.switch.active{
    background: #4cda1d;
    color: #000;

}
.switch.active::after{
    right: 0;
    left: unset;
}

/*.switch nav{
    background: #1f1f1f;
}
*/